  * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #262626;
        }

        /*LOGO EM CIMA*/
        #logo {
            width: 5%;
        }


        /*MENU EM CIMA*/
        header {
            position: relative;
        }

        .menu {
            text-align: center;

            border-top: 5px solid;
            border-image: linear-gradient(to right,
                    #F26B2B 0%,
                    #F26B2B 33.33%,
                    #6F0CD8 33.33%,
                    #6F0CD8 66.66%,
                    #F26B2B 66.66%,
                    #F26B2B 100%);
            border-image-slice: 1;
            padding: 5px;
        }

        .menu ul {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }

        .menu ul li {
            padding: 10px;
            list-style: none;
            font-size: 20px;
        }

        .menu a {
            color: #fff;
            text-decoration: none;

        }

        .btn-menu {
            display: none;
            background: none;
            border: none;
            color: #fff;
            font-size: 25px;
            position: absolute;
            right: 10px;
            top: 5px;
            /* AJUSTE AQUI */
            z-index: 10;
            /* garante que fique por cima */
            cursor: pointer;
        }

        /*TELA PRINCIPAL*/
        .tela_principal img {
            width: 100%;
            border-bottom: solid 2px #F26B2B;
        }

        /*QUADRADO BRANCO*/

        .quadrado {
            background-color: rgba(255, 255, 255, 0.5);
            border-top-left-radius: 10%;
            border-bottom-left-radius: 10%;
            padding: 2%;
            width: 30%;
            position: absolute;
            right: 0;
            color: black;
            font-size: 20px;
        }

        .quadrado button {
            background-color: #F26B2B;
            border: none;
            border-radius: 15%;
            padding: 3%;
            font-size: medium;
            color: #fff;

        }


        /*LOGO/BAIXE NOSSO APP EM BAIXO*/

        .logo2 {

            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            gap: 200px;
            padding: 2%;

        }

        .imagem {
            width: 180px;
            height: 190px;
            border-radius: 60%;
            border: 5px solid #6F0CD8;
        }

        .baixo {

            display: flex;
            flex-direction: column;
            /* coloca texto em cima e imagem embaixo */
            align-items: center;
            /* centraliza horizontalmente */
            justify-content: center;
            /* centraliza verticalmente (se tiver altura) */
            text-align: center;
            /* garante texto centralizado */
        }



        .imagen {
            width: 100px;
        }



        /*----------------------------------------------------------*/


        /*MENU RESPONSIVO*/
        @media(max-width: 768px) {

            .btn-menu {
                display: block;
                top: 0px;
                font-size: 40px;
            }

            .menu ul {
                flex-direction: column;
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                background-color: #262626;
                display: none;
                /* começa fechado */
            }

            .menu ul li {
                text-align: center;
                border-bottom: 1px solid #444;
            }

            .menu ul.ativo {
                display: flex;
                /* abre o menu */
            }
        }

        /*TELA laptop RESPONSIVO*/
        @media(max-width: 1024px) {
            #logo {
                width: 10%;
            }

            .quadrado p {
                font-size: 15px;
                padding-bottom: 4px;
            }

            .quadrado button {

                padding: 5px;
                font-size: 13px;

            }

            .logo2 {
                font-size: medium;
                justify-content: space-around;
                align-items: center;
                padding: 2%;

            }

            .imagem {
                width: 150px;
                height: 160px;
                border-radius: 60%;
                border: 5px solid #6F0CD8;
            }

            .baixo {
                margin-left: -260px;
            }
        }

        /*TELA tablet RESPONSIVO*/

        @media(max-width: 768px) {


            .tela_principal {
                display: flex;
                flex-direction: column;
                padding: 2px;
            }

            .tela_principal img {
                border: none;
            }

            .quadrado {
                background-color: rgba(255, 255, 255, 0.2);
                color: #fff;
                position: static;
                width: 90%;
                margin: 20px auto;
                border-radius: 10px;
                text-align: center;
            }

            .quadrado button {

                padding: 10px;
                font-size: 15px;
            }

            .quadrado p {
                padding-bottom: 8px;
                text-align: justify;


            }

            .tela_principal img {

                order: -1;
            }

        }

        @media(max-width:425px) {
            #logo {
                width: 15%;
            }

            .tela_principal img {
                border: none;
            }

            .quadrado p {
                font-size: 15px;
                word-spacing: -2px;
                margin: 4px;
            }

            .quadrado button {
                font-size: 15px;
                display: block;
                margin: 0 auto;
                margin-bottom: 3px;

            }

            .logo2 {


                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2%;
                gap: 290px;

            }

            .imagem {
                width: 50px;
                height: 50px;
                border: 2.5px solid #6F0CD8;
                ;

            }

            .imagen {
                width: 50px;
                height: 50px;

            }

            .baixo p {
                font-size: 13px;
            }

            .btn-menu {
                font-size: 25px;
            }
        }